body a:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

body a:visited {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

body a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

body a:active {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

body {
    font-family:'Trebuchet MS',sans-serif;
    background-image: url(../img/bg_page.png);
    background-repeat: repeat-x;
    height: 99%;
    background-color: #AFC1D5;
}

#header {
    background-image: url(../img/bg_header.png);
    font-family:Verdana,Geneva,'DejaVu Sans',sans-serif;
    text-align: center;
    margin: -8px;
}

#header strong {
    font-size: 30px;
}

#toc {
    padding: 10px;
    margin-top: 20px;
}

#toc_items {
    text-align: center;
}

#toc_item {
    padding: 8px;
}

#main {
    text-align: center;
}

#main th,td {
    padding: 10px;
}

#main li {
    list-style: none;
    padding-right:20px;
}

/* ----------------- */
/* page specific css */
/* ----------------- */

/* HOME */
#home_links a {
    padding: 10px;
}

/* USER FORM */
#user_form {
    padding-left: 480px;
}

#user_form .errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
    width: 420px;
}

#user_form .error {
    color: #ff0000;
}

#user_form .submitButtons {
    text-align: left;
    padding-left: 80px;
}

#user_form .submitButton {
    padding: 30px;
}

#user_form .longText {
    width: 180px;
}

#user_form a:hover {
    text-decoration: none;
}

#user_form a:active {
    text-decoration: none;
}

/* ADMIN HOME */
#admin_links a {
    padding: 10px;
}

/* ADMIN LIST */
#admin_list_table tr.column_names {
    background-color: #ACCCFF
}

#admin_list_table tr.odd {
    background-color: #E5E5E5
}

#admin_list_table tr.even {
    background-color: #C1C1C1
}

#admin_list_table a:link {
    color: blue;
}

#admin_list_table a:visited {
    color: blue;
}

#admin_list_table a:active {
    color: blue;
}

#admin_list_table a:hover {
    color: blue;
}