a:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

a:active {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

body {
    font-family: 'Tahoma', sans-serif;
    background-image: url(../img/bg_header.png);
    background-repeat: repeat-x;
}

#header {
    text-align: center;
}

#header strong {
    font-size: 30px;
}

#toc {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 20px;
}

#toc_items {
    text-align: center;
}

#toc_item {
    padding: 8px;
}

#main {
    text-align: center;
}

#main th,td {
    padding: 10px;
}

#main li {
    list-style: none;
    padding-right:20px;
}

/* page specific css */
#home_links a {
    padding: 10px;
}

#register_form {
    padding-left: 430px;
}

#register_form .error {
    color: #ff0000;
}

#register_form .registerButton {
    text-align: right;
}

#register_form .cancelButton {
    text-align: center;
}

#register_form .longText {
    width: 180px;
}

#register_form a:hover {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#register_form a:active {
    text-decoration: none;
    font-weight: bold;
    color: black;
}