body a:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

body a:visited {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

body a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

body a:active {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.curved_wide {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(border-radius.htc);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;

    /* Box */
    margin: 0pt auto;
    background-color: #E2E7ED;
    border: 2px solid #CDE6FF;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;
    width: 950px;
    padding-bottom: 8px;
}

.curved_narrow {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(border-radius.htc);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;

    /* Box */
    margin: 0pt auto;
    background-color: #E2E7ED;
    border: 2px solid #CDE6FF;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;
    width: 750px;
    padding-bottom: 8px;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-image: url(../img/bg_page.png);
    background-repeat: repeat-x;
    height: 99%;
    background-color: #AFC1D5;
}

.shortText {
    width: 50px;
}

.mediumText {
    width: 100px;
}

.longText {
    width: 180px;
}

.xtralongText {
    width: 605px;
}

/* HEADER */
#header {
    background-image: url(../img/bg_header.png);
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    text-align: center;
    margin: -8px;
    border-bottom: 5px solid #CDE6FF;
}

#header strong {
    font-size: 30px;
}

#toc {
    padding: 10px;
    margin-top: 20px;
}

#toc_items {
    text-align: center;
}

#toc_item {
    padding: 8px;
}

/* MAIN PAGE */
#main {
    text-align: center;
}

#main li {
    list-style: none;
    padding-right: 20px;
}

.error {
    color: #ff0000;
}

.errorBlock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    text-align: center;
}

/* ----------------- */
/* page specific css */
/* ----------------- */

/* HOME */
#home #information {
    padding-left: 20px;
    padding-right: 20px;    
}

#home_links {
    padding: 10px;
}

#home_links a {
    padding: 10px;
}

/* LOGIN */
#login .usernameAndPassword {
    padding-left: 215px;
}

#login .submitButtons {
    padding: 10px;
}

/* CREATE ACCOUNT */
#createAccount p {
    padding: 5px;
}

#create_account_table {
    margin: 0pt auto;
}

#createAccount .submitButton {
    padding: 30px;
}

#createAccount a:hover {
    text-decoration: none;
}

#createAccount a:active {
    text-decoration: none;
}

/* REGISTRATION INFORMATION */
#registrationInformation #nameAndAddress {
    padding-left: 100px;
}

#registrationInformation #phoneNumbers {
    padding-left: 35px;
}

#registrationInformation #additionalRegistrationData #dataRow {
    margin: 20px 0px 20px 0px;
}

#registrationInformation #additionalRegistrationData #dataRow #dataQuestionAnswer {
    margin: 5px 0px 5px 0px;
}

#registration_information_table td {
    padding-left: 4px;
}

#registrationInformation .submitButton {
    padding: 30px;
}

#registrationInformation a:hover {
    text-decoration: none;
}

#registrationInformation a:active {
    text-decoration: none;
}

/* USER PROFILE */
#user_profile_links {
    padding: 10px;
}

#user_profile_links a {
    padding: 10px;
}

/* ADMIN HOME */
#admin_links a {
    padding: 10px;
}

/* ADMIN LIST */
#admin_list_table th,#admin_list_table td {
    padding: 8px;
}

#admin_list_table tr.column_names {
    background-color: #ACCCFF
}

#admin_list_table tr.odd {
    background-color: #E5E5E5
}

#admin_list_table tr.even {
    background-color: #C1C1C1
}

#admin_list_table a:link {
    color: blue;
}

#admin_list_table a:visited {
    color: blue;
}

#admin_list_table a:active {
    color: blue;
}

#admin_list_table a:hover {
    color: blue;
}